@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bebas-neue-bold {
  font-family: "bebas-neue-bold";
  src: url("../public/fonts/BebasNeue-Bold.ttf");
}

.font-bebas-neue-regular {
  font-family: "bebas-neue-regular";
  src: url("../public/fonts/BebasNeue-Regular.ttf");
}
